
/* 
    Created on : 06.11.2017, 14:34:40
    Author     : cziermann
*/
div.Montag{border: 1px solid darkorange; border-radius: 8px;}
div.Dienstag{border: 1px solid darkorange; border-radius: 8px;}
div.Mittwoch{border: 1px solid darkorange; border-radius: 8px;}
div.Donnerstag{border: 1px solid darkorange; border-radius: 8px;}
div.Freitag{border: 1px solid darkorange; border-radius: 8px;}

.all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
}
table.greyGridTable tbody td {
    font-size: 13px;
}
table.greyGridTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot td {
    font-size: 14px;
}